body {
    background-color: #191919;
    color: rgba(255, 255, 255, 0.8);
}

.list {
    list-style: none;
}



/* цвет фона #191919
цвет заголовка E7E7E7
цвет текста rgba(255, 255, 255, 0.8) 
цвет текста футера и плейсхолдера rgba(255, 255, 255, 0.3)
цвет кнопки DF3D3A
цвет ховера кнопки B5302D
*/